@charset "UTF-8";
* {
  color: #707070;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
}

/*
ログインページ
*/
h1 {
  margin: 0;
  padding: 0 0 101px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}

.loginbox {
  width: 414px;
  height: 736px;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid;
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  padding: 80px 57px;
}

.loginbox p {
  margin: 0 0 10px;
  padding: 0;
}

.loginbox input {
  width: 298px;
  margin-bottom: 59px;
}

.loginbox input[type="text"],
.loginbox input[type="password"] {
  border: none;
  border-bottom: 1px solid;
  height: 40px;
  outline: none;
  font-size: 19px;
}

.loginbox input[type="submit"] {
  border: 1px solid;
  outline: none;
  background-color: #fff;
  height: 59px;
  width: 138px;
  font-size: 30px;
  margin: 96px 0 0 0;
  padding: 0;
  font-weight: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loginbox input[type="submit"]:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.loginbox input[name="Create"] {
  float: left;
}

.loginbox input[name="Enter"] {
  float: right;
}

/*
トップページ
*/
.top_wrapper {
  margin: 0;
  padding: 0;
}

.top_wrapper h1 {
  margin: 50px 0 63px 0;
  padding: 0;
  font-size: 40px;
}

.top_wrapper button {
  width: 313px;
  height: 313px;
}

.menu {
  margin: 0 auto;
  width: 1300px;
}

.menu button {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  border: 1px solid #707070;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu img {
  width: 260px;
  height: 260px;
}

.menu p {
  text-align: center;
  font-size: 30px;
  padding: 0;
  margin: 5px 0 0 0;
}

.category {
  width: 313px;
  height: 313px;
  float: left;
  margin: 0 180px 82px 0;
}

.category:nth-child(3n) {
  margin-right: 0;
}

/*
training
*/
.header {
  width: 1228px;
  height: 127px;
  margin: 50px auto 0 auto;
}

.header a {
  border: solid 1px;
  width: 274px;
  height: 64px;
  display: block;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 40px;
}

.training_menu, .meditation_menu, .yoga_menu, .front_end_menu, .reading_container, .blog_menu {
  width: 1228px;
  margin: 0 auto;
}

.training_menu button, .meditation_menu button, .yoga_menu button, .front_end_menu button, .reading_container button, .blog_menu button {
  float: left;
  margin: 0 112px 84px 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  border: 1px solid #707070;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.training_menu button:nth-child(3), .meditation_menu button:nth-child(3), .yoga_menu button:nth-child(3), .front_end_menu button:nth-child(3), .reading_container button:nth-child(3), .blog_menu button:nth-child(3) {
  clear: both;
}

.training_menu button:nth-child(2n), .meditation_menu button:nth-child(2n), .yoga_menu button:nth-child(2n), .front_end_menu button:nth-child(2n), .reading_container button:nth-child(2n), .blog_menu button:nth-child(2n) {
  margin-right: 0;
}

.training_menu button img, .meditation_menu button img, .yoga_menu button img, .front_end_menu button img, .reading_container button img, .blog_menu button img {
  display: block;
}

.training_menu button:hover, .meditation_menu button:hover, .yoga_menu button:hover, .front_end_menu button:hover, .reading_container button:hover, .blog_menu button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.dummy {
  float: right;
  width: 274px;
  height: 64px;
  display: block;
}

.top_btn {
  float: left;
}

.back_btn {
  float: right;
}

.main {
  width: 1228px;
  margin: 0 auto;
}

.main iframe {
  width: 1228px;
  height: 691px;
}

.meditation_menu .m_20min_btn, .meditation_menu .create_portfolio_btn, .meditation_menu .theme_btn, .front_end_menu .m_20min_btn, .front_end_menu .create_portfolio_btn, .front_end_menu .theme_btn, .blog_menu .m_20min_btn, .blog_menu .create_portfolio_btn, .blog_menu .theme_btn {
  margin-right: 0;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.reading_container {
  width: 800px;
}

.reading_container p {
  font-size: 30px;
}

.reading_container ul .list-group-item {
  list-style-type: none;
  font-size: 50px;
}

.reading_container ul .uncomp-style::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c8";
  margin-right: 0.5em;
}

.reading_container ul .comp-style::before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  margin-right: 0.5em;
}

.form-control {
  border: none;
  border-bottom: 1px solid #707070;
  font-size: 40px;
  width: 708px;
}
/*# sourceMappingURL=style.css.map */