* {
  color: #707070;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
}

/*
ログインページ
*/

h1 {
  margin: 0;
  padding: 0 0 101px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}

.loginbox {
  width: 414px;
  height: 736px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 1px solid;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  padding: 80px 57px;

  p {
    margin: 0 0 10px;
    padding: 0;
  }

  input {
    width: 298px;
    margin-bottom: 59px;
  }

  input[type="text"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid;
    height: 40px;
    outline: none;
    font-size: 19px;
  }

  input[type="submit"] {
    border: 1px solid;
    outline: none;
    background-color: #fff;
    height: 59px;
    width: 138px;
    font-size: 30px;
    margin: 96px 0 0 0;
    padding: 0;
    font-weight: 100;
    transition: 0.5s;
  }

  input[type="submit"]:hover {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
  }

  input[name="Create"] {
    float: left;
  }

  input[name="Enter"] {
    float: right;
  }

}

/*
トップページ
*/

.top_wrapper {
  margin: 0;
  padding: 0;

  h1 {
    margin: 50px 0 63px 0;
    padding: 0;
    font-size: 40px;
  }

  button {
    width: 313px;
    height: 313px;
  }
}

.menu {
  margin: 0 auto;
  width: 1300px;

  button {
    margin: 0;
    padding: 0;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border: 1px solid #707070;
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  img {
    width: 260px;
    height: 260px;
  }

  p {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 5px 0 0 0;
  }
}

.category {
  width: 313px;
  height: 313px;
  float: left;
  margin: 0 180px 82px 0;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

/*
training
*/

.header {
  width: 1228px;
  height: 127px;
  margin: 50px auto 0 auto;

  a {
    border: solid 1px;
    width: 274px;
    height: 64px;
    display: block;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  h1 {
    font-size: 40px;
  }
}

.content {
  width: 1228px;
  margin: 0 auto;

  button {
    float: left;
    margin: 0 112px 84px 0;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border: 1px solid #707070;
    transition: 0.5s;

    &:nth-child(3) {
      clear: both;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    img {
      display: block;
    }

    &:hover {
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.dummy {
  float: right;
  width: 274px;
  height: 64px;
  display: block;
}

//trainingの各ページ
.top_btn {
  float: left;
}

.back_btn {
  float: right;
}

.main {
  width: 1228px;
  margin: 0 auto;

  iframe {
    width: 1228px;
    height: 691px;
  }
}

//meditation,front_end,

.content {

  .m_20min_btn,
  .create_portfolio_btn,
  .theme_btn {
    margin-right: 0;
    left: 50%;
    position: relative;
    transform: translate(-50%);
  }

  //createappのスタイル
  #idea{
    z-index: 1;
    border: 1px solid #000;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 200px 0 0 514px;
    padding: 0;
    position: relative;
    box-shadow: 6px 6px 6px #ccc;

    p{
      font-size: 20px;
      text-align: center;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

//reading

.reading_container {
  width: 800px;
  margin: 0 auto;

  p {
    font-size: 30px;
  }

  ul {
    .list-group-item {
      list-style-type: none;
      font-size: 50px;
    }

    .uncomp-style {
      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f0c8";
        margin-right: 0.5em;
      }
    }

    .comp-style {
      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f14a";
        margin-right: 0.5em;
      }
    }
  }
}

.form-control {
  border: none;
  border-bottom: 1px solid #707070;
  font-size: 40px;
  width: 708px;
}

//frongend
.idea-hint-wrapper{
  z-index: 2;
  width:1000px;
  height:850;
  margin-left: 120px;
  background-color:aqua;
  position: relative;
  top: -400px;
  transition: 2s;
  #hint-card1,#hint-card2,#hint-card3,#hint-card4{
    position: absolute;
    display: none;
    transition: 1s;
  }
  .hint-card-display{
    display: block!important;
    transition: 3s;
  }
  #hint-card1{
    top:0;
    left:0;
  }
  #hint-card2{
    top:0;
    right:0;
  }
  #hint-card3{
    top:400px;
    left:0;
  }
  #hint-card4{
    top: 400px;
    right:0;
  }
}
