* {
  color: #707070;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
}

/*
ログインページ
*/

.loginbox {
  width: 414px;
  height: 736px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 1px solid;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  padding: 80px 57px;
}

h1 {
  margin: 0;
  padding: 0 0 101px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}

.loginbox p {
  margin: 0 0 10px;
  padding: 0;
}

.loginbox input {
  width: 298px;
  margin-bottom: 59px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid;
  height: 40px;
  outline: none;
  font-size: 19px;
}

.loginbox input[type="submit"] {
  border: 1px solid;
  outline: none;
  background-color: #fff;
  height: 59px;
  width: 138px;
  font-size: 30px;
  margin: 96px 0 0 0;
  padding: 0;
  font-weight: 100;

}

.loginbox input[type="submit"]:hover {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}


.loginbox input[name="Create"] {
  float: left;
}

.loginbox input[name="Enter"] {
  float: right;
}

/*
トップページ
*/

.top_wrapper {
  margin: 0;
  padding: 0;
}

.top_wrapper h1 {
  margin: 110px 0 84px 0;
  padding: 0;
  font-size: 40px;
}

.top_wrapper button {
  width: 313px;
  height: 313px;
}

.menu {
  margin: 0 0 0 311px;
}

.menu button {
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  border: 1px solid #707070;
}

button:hover {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu img {
  width: 260px;
  height: 260px;
}

.menu p {
  text-align: center;
  font-size: 30px;
  padding: 0;
  margin: 5px 0 0 0;
}

.category {
  width: 313px;
  height: 313px;
  float: left;
  margin: 0 180px 82px 0;
}

/*
training
*/

.training_menu {
  width: 1228px;
  margin: 0 auto;
}

.training_menu button {
  float: left;
  margin: 0 112px 84px 0;
  padding: 0;
  border: none;
  background-color: transparent;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  border: 1px solid #707070;
}

.training_menu button:nth-child(3) {
  clear: both;
}

/*
2,4個目のボタンの右マージンをゼロに。
*/
.training_menu button:nth-child(2n) {
  margin-right: 0;
}

.training_menu button img {
  display: block;
}